<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <link rel="stylesheet" type="text/css" href="./assets/signup-stylesheet.css">
  </head>
  <body>
    <br><br><br>
        <center>
    <div class="signup-card">
      <br>
      <span style="color: #777777;font-size: 25px;font-weight:bold">Forgot password?</span><br><br>
     <font weight="light">Please enter your username or email, so we can send you a reset link.</font> <br><br>
  <input type="text" name="email" id="usernameoremail" class="emailinput"  placeholder="Username or Email">
  <br><br>
  <input type="submit" value="Submit" id="submit" class="submitbutton" onClick="sendResetRequest();"><br>
      <span id="submit-response"></span>
      <br><br>
      </div>
     </center>
  </body>
  

<script>
  function sendResetRequest(){
              var usernameoremail = document.getElementById("usernameoremail").value;
    
              jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/sendpassresetlink",
                  data:'usernameoremail='+usernameoremail,
                  type: "POST",
                  success:function(data){
                    if(data == "Request Sent"){
                      document.getElementById("submit-response").innerHTML = "<br><font color='green'>A reset link has been sent to your email.</font>";
                     } else if(data == "Unable to send request."){
                       document.getElementById("submit-response").innerHTML = "<br><font color='green'>Username or email not found.</font>";
                     }
                  }
                 });
        }
  
  
</script>