html {
  min-height: 100%;
  position:relative;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
	font-family: Helvetica, sans-serif;
	background: rgb(116,86,122);
	background: linear-gradient(0deg, rgba(116,86,122,1) 0%, rgba(100,77,111,1) 54%, rgba(41,64,105,1) 100%);
  background-repeat: no-repeat;
}
.settings-card {
	background-color: white;
	border-radius: 5px;
	width: 40%;
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.75);
}
a {
  text-decoration: none;
  color: black;
}
#tab {
  padding-left: 10px;
  padding-top: 20px;
  height: 40px;
  font-size: 20px;
  border-top: 1px solid #7F7f7F;
  border-bottom: 1px solid #7F7f7F;
  font-weight: lighter;
  text-align: left;
}
.sidenav {
  float: left;
  margin-top: 60px;
	margin-left: 20px;
	display: inline-block;
	width: 10%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.profilebutton {
	border: none;
	cursor: pointer;
	background: url('https://socialwebapp.drodriguez.dev/assets/profilepic.png') left center no-repeat;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	margin-bottom:5px;
}
.feedbutton {
	border: none;
	cursor: pointer;
	background: url('https://socialwebapp.drodriguez.dev/assets/feedbutton.png') left center no-repeat;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	margin-bottom:5px;
}
.searchbutton {
	border: none;
	cursor: pointer;
	background: url('https://socialwebapp.drodriguez.dev/assets/searchbutton.png') left center no-repeat;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	margin-bottom:5px;
}
.logoutbutton {
  background-color: transparent;
	border: none;
	cursor: pointer;
	background: url('https://socialwebapp.drodriguez.dev/assets/logoutbutton.png') left center no-repeat;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	margin-bottom:5px;
  border: none;
}